
body{
    font-weight: bolder;
    font-family: system-ui;
}
h1 {
    color:   blue;
    background-color: black;
}

h2 {
    color:aquamarine;
    background-color: chocolate;
}

h6 {
    color:aqua;
}