body{
    font-weight: bolder;
    font-family: system-ui;
}
h1 {
    font-size:large;
    font-weight:bold;
    color:   blue;
}

h2 {
    color:aquamarine;
    background-color: chocolate;
}

h6 {
    color:aqua;
}